#title {
  position: absolute;
  top: -20px;
  left: 10px;
}

.form_input_login {
  display: flex;
  flex-direction: column;
  color: rgb(65, 160, 192);
  font-size: 20px;
  
}

#form_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:aqua;
  width: 325px;
  height: 350px;
  justify-content: space-around;
  padding: 50px 50px 100px 50px;
  margin-top: 50px;
  box-shadow: 0px 0px 10px rgb(202, 202, 202);
  background-color: rgba(248, 248, 248, 0.204);
}

button {
  width: 95%;
  height: 50px;
  background-color: rgb(65, 160, 192);
  font-size: 30px;
  color: white;
}

#title2 {
  color: rgb(65, 160, 192);
  font-size: 50px;
}

input {
  width: 95%;
  height: 30px;
  border: 2px solid rgb(65, 160, 192);
  border-radius:  5px;
  font-size: 18px;
  color: rgb(65, 160, 192);
  padding: 5px 5px 5px 5px;
}