#title_login {
  font-size: 50px !important;
  color: rgb(65, 160, 192);
  text-shadow: 2px 3px 4px rgb(137, 134, 134);
} 
.input{
  width: 95% !important;
  height: 25px !important;
  border: 1px solid rgb(65, 160, 192);
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
  font-size: 15px;
  color: rgb(65, 160, 192);
}
.label{
  font-size: 20px;
  margin-right: 5px;
  width: 100px;
  color: rgb(65, 160, 192);
}
#button_login {
  width: 25%;
  height: 50px;
  background-color:  rgb(65, 160, 192) ;
  font-size: 30px;
  color: antiquewhite;
  position: absolute;
  top: 60%;
}
#button_login:hover {
  box-shadow: 5px 5px 5px rgb(79, 213, 227);
  text-shadow: 5px 5px 5px rgb(79, 213, 227);
  background-color:  rgb(80, 175, 204) ;
}
#label-hidden{
  color: rgb(65, 160, 192);
  font-size: 15px
}
.form_hidden_password {
  display: flex;
  width: 20%;
  justify-content: space-between;
}
@keyframes identifier {
  
}
#frame_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 30%;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(202, 202, 202);
  padding: 10px 50px 70px 50px;
  background-color: rgba(248, 248, 248, 0.204);
}
#form_username , #form_password {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#form_hidden_pass{
  width: 40%;
  min-width: 130px
}
body {
  background-image: url(./../Image/bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
