#title {
  position: absolute;
  top: -20px;
  left: 10px;
}

.form_input_login {
  display: flex;
  flex-direction: column;
  color: rgb(65, 160, 192);
  font-size: 20px;
  
}

#form_input {
  position:fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 25%;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(202, 202, 202);
  padding: 10px 50px 70px 50px;
  background-color: rgba(248, 248, 248, 0.30);
  top: 20%;
  left: 10%;
  opacity: 1;
}

button {
  width: 95%;
  height: 50px;
  background-color: rgb(65, 160, 192);
  font-size: 30px;
  color: white;
}

#title2 {
  color: rgb(65, 160, 192);
  font-size: 50px;
}

input {
  width: 95%;
  height: 30px;
  border: 2px solid rgb(65, 160, 192);
  border-radius:  5px;
  font-size: 18px;
  color: rgb(65, 160, 192);
  padding: 5px 5px 5px 5px;
}
body {
  background-image: url(./../Image/bg_1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
#login_user {
  color: rgb(65, 160, 192);
  font-size: 13px;
}
#login_user:hover {
  border-bottom: 1px solid rgb(65, 160, 192);
}