.question {
  box-shadow: 0px 0px 10px rgb(202, 202, 202);
  background-color: rgba(248, 248, 248, 0.704);
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  margin-top: 30px;
  transition: transform 0.5s;
  transition-delay: 0.5s;
  width: 40%;

}

button {
  transition: transform 0.5s;
}

button:hover {
  animation-name: disapprovals;
  animation-duration: 0.5s;

}

table {
  width: 100%;
}

.status {
  display: flex;
  align-items: center;
}

#approvals-button {
  background-color: #4e7f00;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  right: 5.3%;
  top: 30%;
  display: none;
  color: white;
}

#disapprovals-button {
  background-color: #781a00;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  right: 5.3%;
  top: 40%;
  display: none;
  color: white;
}

#show_more {
  z-index: 1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  right: 5%;
  top: 15%;
  background-color: rgb(48, 114, 184);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#bg {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0px;
}

#select_form_button {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(179, 179, 179, 0.2)ay;
  border-radius: 20px;
  background-color: rgba(179, 179, 179, 0.2);
  position: fixed;
  top: 20%;
  left: 5%;
}

.set_data_button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgba(179, 179, 179, 0);
}

#set_data_button {
  background-color: rgba(50, 164, 230, 0.677);
}

.set_data_button:hover {
  background-color: white;
}

p {
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  width: 100%;
  color: #000;
  font-weight: bolder;
}

#title {
  width: 20%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 20%;
  top: 0%;
  margin: 0px;
}

#essay {
  width: 80%;
  background-color: rgba(47, 158, 80, 0.54);
  font-weight: bolder;
  padding: 20px;
  color: #000 !important;
  border-radius: 20px;
}

#change_top {
  width: 30px;
  height: 30px;
  background-color: rgba(230, 230, 230, 0.693);
  position: fixed;
  bottom: 10%;
  right: 10%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: rgb(99, 0, 0);
}

.content {
  width: 100%;
  height: auto;
  color: rgb(65, 160, 192) !important;
  font-weight: 300;
  text-align: start;
}

img {
  width: 100%;
}
.text_question {
  width: 100%;
  height: auto;
  color: rgb(65, 160, 192) !important;
  font-weight: 300;
  text-align: start;
}