.question {
  box-shadow: 0px 0px 10px rgb(202, 202, 202);
  background-color: rgba(248, 248, 248, 0.204);
  padding: 10px 130px 10px 130px;
  border-radius: 10px;
  margin-top: 30px;
  transition: transform 0.5s;
  transition-delay: 0.5s;


}

button {
  transition: transform 0.5s;
}

button:hover {
  transform: scale(2);
}

button:hover {
  animation-name: disapprovals;
  animation-duration: 0.5s;

}
table {
  width: 100%;
}
.status {
  display: flex;
  align-items: center;
}
body {
  background-image: url(./../Image/bg_1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}