#nav_tag_2 {
  position: absolute;
  top: 0px;
}
#logout {
  top: 0px;
  
}

.question {
  color: rgb(65, 160, 192) !important;
  background-color: rgba(242, 242, 242, 0.574);
  width: 20%;
  min-width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 10px;
  box-shadow:  2px 2px 2px rgb(194, 194, 194);
  /* align-items: center; */
  
}
.answers {
  list-style-type: none;

}
pre {
  color: rgb(65, 160, 192) !important;
}
li {
  color: rgb(65, 160, 192) !important;
}
table {
  width: 100%;
}
.status {
  display: flex;
  align-items: center;
}
button {
  width: 150px;
  height: 50px;
}
.group-button {
  display: flex;
  width: 600px;
  justify-content: space-around;
}
body {
  background-image: url(./../Image/bg_1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
#hidden {
  background-image: url(./../Image/show_mode.jpg);
}